@model MVC_Kutuphane_Otomasyonu.Entities.Model.Roller
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="rom">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Rol Düzenleme Sayfası
            </div>
            <div class="ibox-body">

                @using (Html.BeginForm("Duzenle", "Roller", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.Id) <!-- Id bilgisini gizli taşıyoruz -->

                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.Rol)
                        @Html.TextBoxFor(x => x.Rol, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Rol, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

