@model MVC_Kutuphane_Otomasyonu.Entities.Model.Iletisim

@{
    Layout = "~/Views/Shared/_GenelLayout.cshtml";
    ViewBag.Title = "Contact";
}
<div class="container">
    <br />
    <h3>İLETİŞİM</h3>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <b>Adı Soyadı</b>
            @Html.TextBoxFor(x => x.AdiSoyadi, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.AdiSoyadi, "", new { @class = "tex-danger" })
        </div>
        <div class="form-group">
            <b>Email</b>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "tex-danger" })
        </div>
        <div class="form-group">
            <b>Başlık</b>
            @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Baslik, "", new { @class = "tex-danger" })
        </div>
        <div class="form-group">
            <b>Mesaj</b>
            @Html.TextAreaFor(x => x.Mesaj, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Mesaj, "", new { @class = "tex-danger" })
        </div>
        <div class="form-group">
            <b>Açıklama</b>
            @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Aciklama, "", new { @class = "tex-danger" })
        </div>
        <button type="submit" class="btn btn-primary">Gönder</button>
    }
    <br />
</div>